@import '../libs/bootstrap/sass/bootstrap.scss';
@import '../libs/slick-carousel/slick/slick.css';
@import '../libs/slick-carousel/slick/slick-theme.css';
@import '../libs/slicknav/dist/slicknav.min.css';
@import '../libs/font-awesome/css/font-awesome.min.css';