 @media (min-width: 1200px) { 

 }



@media (min-width: 992px) and (max-width: 1199px) { 

}

@media (min-width: 769px) and (max-width: 991px) { 

}	


@media (max-width: 768px) { 

	/* -------------------------Header---------------------------- */
		
	#header-nav{
		display: none;
	}

	.slicknav_menu{
		display: inline-block;
		text-align: center;
		text-transform: capitalize;
		background-color: $main_color_grey;
		border-radius: 15px;
		a{
			background-color: rgba(34, 34, 34, 0.3); 
			border-radius: 15px;
			&:hover{
				background-color: rgb(26, 187, 156);
				color: rgb(255,255,255);
			}
		}
		li{
			padding: 5px 0;
		}
	}
	/* -----------------------Header-end-------------------------- */

	/* -------------------Process-block------------------------- */	

	.process-text{
		h3{
			&:before,
			&:after{
				display: none;
			}
		}
	}

	/* -------------------Process-block-end------------------------ */

	/* -------------------Recent-Project----------------------- */

	.recent-projects-wrap{
		h3{
			&:before,
			&:after{
				display: none;
			}
		}
	}	

	/* -------------------Recent-Project-end---------------------- */

	/*----------------------- Journal-block------------------------ */


	.journal-text-p{
		text-align: center;
	}

	.journal-wrap{
		h3{
			&:before,
			&:after{
				display: none;
			}
		}
	}
	/*----------------------- Journal-block-end----------------------- */
}



























