@import '../libs/bootstrap/dist/css/bootstrap.min.css';
@import '../libs/bootstrap/dist/css/bootstrap-theme.min.css';
@import '../libs/bootstrap/dist/css/_bootstrap.scss';
@import '../libs/slick-carousel/slick/slick.css';
@import '../libs/slick-carousel/slick/slick-theme.css';
@import '../libs/slicknav/dist/slicknav.min.css';
@import '../libs/font-awesome/css/font-awesome.min.css';