@import url(../libs/bootstrap/dist/css/bootstrap.min.css);
@import url(../libs/bootstrap/dist/css/bootstrap-theme.min.css);
@import url(../libs/slick-carousel/slick/slick.css);
@import url(../libs/slick-carousel/slick/slick-theme.css);
@import url(../libs/slicknav/dist/slicknav.min.css);
@import url(../libs/font-awesome/css/font-awesome.min.css);
